form {
  font-family: monospace;
  border: 1px solid rgba(0, 0, 0, .2);
  width: 50%;
  margin: 120px auto 0 auto;
  color: rgb(30, 30, 30);
  /* flex box */
  display: flex;
  flex-direction: column;
}
form > input {
  padding: 16px;
  margin: 16px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .2);
  font-family: monospace;
}
form > input[type='submit'] {
  background-color: lightgreen;
  opacity: .9;
}
form > input[type='submit']:hover {
  cursor: pointer;
  opacity: 1;
}
form > label {
  font-size: 2em;
  margin: 10px 0 0 18px;
}
